<h2>Order Overview:</h2>

<div class="container">
    <ul>
        <!-- <li>{{inventory.id}}</li> -->
        <li>Food Name: {{inventory.foodName}}</li>
        <li>Food Description: {{inventory.foodDescription}}</li>
        <!-- <li>{{inventory.date}}</li> -->
        <li>Price of the food in rupees : {{inventory.price}}</li>
        <li>Hotel Name: {{inventory.hotelName}}</li>
        <li>Hotel Address: {{inventory.hotelAddress}}</li>
    </ul>
    <button (click)="checkout()" type="button" class="btn btn-success">Confirm</button>
</div>