<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="https://www.simplilearn.com" class="navbar-brand">KitchenStory</a>
        </div>

        <ul class="navbar-nav">
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"  href="/home/vishnu"  class="nav-link">Home</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"  href="/inventory" class="nav-link">All foods</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn() && isLandingPage()" href="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" href="/logout" class="nav-link">Logout</a></li>
            
        </ul>
    </nav>
</header>
